global:
  imageRegistry: "docker.io/nocodebi"
  image:
    tag: "latest"
  ingress:
    className: "traefik"
    domain: nocodebi.io
  appName: app
  app: app
  namespace: ""
  userHome: ""
  ingressURL: ""
  env:
    POSTGRES_DB: ""
    POSTGRES_USER: "nocodebi"
    POSTGRES_PASSWORD: "NoCodeBI@2025"
    PGDATA: "/var/lib/postgresql/data"

services:

- name: server-postgres
  image: postgres
  port: 5432
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80