global:
  imageRegistry: "docker.io/nocodebi"
  image:
    tag: "latest"
  ingress:
    className: "traefik"
    domain: nocodebi.io
  appName: app
  userHome: ""
  ingressURL: ""

services:

- name: server-postgres
  image: postgres
  port: 5432
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80
  env:
  - name: POSTGRES_DB
    value: "config"
  - name: POSTGRES_USER
    value: "nocodebi"
  - name: POSTGRES_PASSWORD
    value: "NoCodeBI@2025"
  - name: PGDATA
    value: "/var/lib/postgresql/data"